/*Story-So-Far-Section-Start*/
.story-so-far-sec {
    background: #e53a24;
    padding: 8rem 0;
    margin-bottom: 3em;
}
.story-so-far-sec-title {
    color: #fff;
    font-size: 45px;
    padding: 20px 10px 20px 0;
    border: 2px solid #e4c69c;
	border-left:none;
	margin: 0;
}
.story-so-far-sec-separator {
    border-left: 8px solid #fff;
    padding: 30px;
}
.story-so-far-content-title {
    font-size: 32px;
    color: #fff;
    margin: 0 0 0 3rem;
    margin-top: -40px;
    margin-bottom: 20px;
}
.story-so-far-content {
    float: right;
    color: #fff;
    font-size: 18px;
    margin: 20px 0 0 3rem;
}
.story-so-far-img-box {
    margin-top: -10rem;
}
.story-so-far-img {
    width: 100%;
}
.story-so-far-btn {
    color: #fff;
    float: left;
    margin: 4rem 3rem 0;
    font-size: 18px;
    font-weight: 100;
}
.story-so-far-btn:hover{
	color:#fff;
	text-decoration:none;
}
.story-so-far-read-btn {
    background: #fff;
    color: red;
    padding: 2px;
    margin: 0 10px 0;
    font-size: 15px;
}
.story-so-far-sec-separator.story-so-far-closing-separator {
    float: right;
    margin-top: 12vh;
}
.title-border-wrp.our-story h2 {
    font-size: 55px;
    color: #fff;
    font-family: 'gotham-thin',Arial;
    letter-spacing: 2px;
}
.title-border-wrp.our-story {
    width: fit-content;
    padding: 10px;
}
/*Philosophy-Page-CSS-Start*/
.vision-sec {
	text-align: right;
}
.vision-sec img {
    width: 100%;
}
.title-border-wrp.vision {
    border: 2px solid #d4a568;
    width: fit-content;
    border-right: none;
    padding: 10px;
    margin-left: auto;
}
.vision-sec .title-seprator {
    height: 40px;
}
.vision-cntn-wrp p {
    margin: 0;
}
.vision-cntn-wrp {
    margin-right: 35px;
}
.vision-cntn-wrp p {
    font-size: 20px;
}
.vision-sec-content {
    padding: 8em 0 0;
}
/*Mission*/
.mission-sec {
	text-align: left;
    background-image: url(../images/mission-banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
}
.title-border-wrp.mission {
    border: 2px solid #d4a568;
    width: fit-content;
    border-left: none;
    padding: 10px 0px;
}
.mission-sec .title-seprator {
    height: 40px;
	color:#fff;
}
.mission-cntn-wrp {
    margin-left: 35px;
}
.mission-cntn-wrp p {
    font-size: 20px;
}
.mission-sec-content {
    padding: 8em 0 0;
}
/*Philosphy*/
.philosophy-sec {
    background: #e53a24;
    color: #fff;
    padding: 5em 0 ;
}
.title-border-wrp.philosophy {
    width: fit-content; 
    padding: 10px;
}
.title-seprator.philosophy {
    border-color: #fff;
}
.philosophy-cntn-wrp {
    margin-left: 30px;
    margin-top: -20px;
}
.philosophy-cntn-wrp h3 {
    font-size: 30px;
    font-family: 'gotham-thin',Arial;
}
.philosophy-cntn-wrp h3 {
    font-size: 40px;
    font-family: 'gotham-thin',Arial;
    margin-bottom: 15px;
}
.philosophy-box-wrapper {
    margin: 40px 0;
}
.philosophy-box-inner {
    border: 1px solid #d4a568;
    padding: 5em 1em 1em;
    min-height: 295px;
}
.philosophy-box-divider {
    width: 10px;
    height: 10px;
    background: #d4a568;
}
.philosophy-box-divider {
    width: 10px;
    height: 10px;
    background: #d4a568;
    margin-left: -4px;
}
.sec-seprator-top-light.philosphy {
    border: 4px solid #fff;
    background: #fff;
    width: 5px;
    height: 60px;
    position: absolute;
    right: 50px;
}
.sec-seprator-top-dark.philosphy {
    border: 4px solid #d4a568;
    background: #d4a568;
    width: 5px;
    height: 50px;
    position: absolute;
    right: 50px;
    margin-top: 2.3em;
}
.top_border_none {
    border-top: none;
}
.right_border_none {
	border-right: none;
}
.bottom_border_none {
    border-bottom: none;
}
.philosophy-box-seprator {
    border: 1px solid #fff;
    width: 30px;
    height: 8px;
    background: #fff;
    position: absolute;
    left: 0px;
    top: 3em;
}
.padding-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.philosophy-box-divider.last {
    position: absolute;
    right: -4px;
}
.height-280 {
	min-height:305px;
}
.philosophy-box-icon-wrp {
    text-align: center;
} 
.philosophy-box-icon-wrp img {
    position: absolute;
    bottom: -30px;
    left: 0;
    margin-right: auto;
    right: 0;
    margin-left: auto;
}
.philosophy-box-icon-wrp.top img {
    top: -30px;
}
/*Philosophy-Page-CSS-End*/

/*Team-section-Css-Start*/
.team-sec {
    background: #e53a24;
	padding: 5rem 0;
}
.team-sec-img-box {
    margin-top: -16rem;
}
.team-sec-img {
    width: 100%;
}
.team-sec-title {
    font-size: 45px;
    color: #fff;
	margin: 0 0 20px;
	font-family: 'gotham-thin',Arial;
}
.team-sec-title-2 {
    border: 2px solid #d4a568;
    color: #fff;
    font-size: 55px;
    padding: 10px;
    border-left: none;
	margin: 0;
	width: fit-content;
	font-family: 'gotham-thin',Arial;
}
.team-sec-content-box {
    margin: 0 0 0 3rem;
}
.team-sec-content {
    color: #fff;
    font-size: 18px;
}
.team-sec-separator {
    padding: 35px;
    border-left: 10px solid #fff;
}
.team-img {
    width: 100%;
}
.team-member-main-title {
    font-size: 35px;
    color: #7e7e7e;
}
.team-subtitle-wrp {
    text-align: center;
    position: absolute;
    top: 15px;
    left: 0;
    right: 30px;
    font-size: 35px;
    color: #7e7e7e;
}
.team-member-title-wrp p {
    margin-bottom: 0;
}
.team-member {
    padding: 3rem 0;
}
.team-member-title {
    border: 2px solid #d4a568;
    border-left: none;
    width: fit-content;
    font-size: 35px;
    color: #5b5b5b;
    padding: 10px;
    max-height: 90px;
    line-height: 70px;
}
.team-member-more-txt {
    font-size: 50px;
	color: #5b5b5b;
}
.team-member-separator {
    border-left: 8px solid #e53a24;
    padding: 35px;
}
.team-sec-separator.team-closing-separator{
    float: right;
    margin-top: 10px;
}
.team-logo {
    float: right;
    width: fit-content;
}
.team-member-content-heading {
    position: absolute;
    right: 6rem;
    top: 3rem;
    margin:37px 0;
	font-size: 25px;
	font-family: 'gotham-thin',Arial; 
	z-index: 2;
}
.team-member-content-title {
    font-weight: 900;
    font-size: 30px;
    color: #e53a24;
	font-family: 'gotham-bold',Arial;
}
.team-member-txt {
    position: relative;
    font-size: 13px;
    float: right;
    padding-right: 3rem;
}
.team-member-wrp {
    margin-top: 6rem;
}
.our-team-title {
    font-size: 20px;
    text-align: center;
    color: #7e7e7e;
    font-family: 'gotham-bold',Arial;
    margin: 15px 0;
}
.our-team-sec {
    background: #f5e4c9; 
    margin: 2rem 0;
    min-height: 40px;
    padding:5px 0 0;
}
.team-member-dashed-border {
    border-top: 2px dashed #000;
    width: 100%;
    max-width: 130px;
    position: absolute;
    top: 4.2rem;
}
/*Team-section-Css-End*/


@media only screen and (max-width:1029.33px){

.story-so-far-content-title {
    margin: 0 0 0 3rem !important;
}
.story-so-far-content {
    margin: 20px 0 0 3rem !important;
}
.team-sec-title-2 {
    font-size: 45px;
}
.title-border-wrp.our-story h2 {
    font-size: 50px !important;
}
.title-border-wrp.vision h2 {
    font-size: 50px !important;
}
.title-border-wrp.philosophy h2 {
	font-size: 50px !important;
}
}
@media only screen and (max-width:500px){
.title-border-wrp.our-story h2 {
    font-size: 15px !important;
}
.philosophy-cntn-wrp h3 {
    font-size: 22px;
}
}
@media only screen and (max-width:415px){
.vision-cntn-wrp p {
    font-size: 13px;
}
.title-border-wrp.our-story h2 {
    font-size: 18px !important;
     font-family: 'gotham-light',Arial;
}
.team-sec {
    padding: 3rem 0;
}
.team-sec-title  {
    font-size: 18px !important;
    font-family: 'gotham-light',Arial;
    margin:15px 0;
    padding-left: 10px;
    
}
.team-sec-content-box {
    margin: -3rem 0 0 2rem;
}
.team-sec-title-2{
    font-size: 18px !important;
    font-family: 'gotham-light',Arial;
}
.vision-sec-content {
    padding: 2em 0 2em;
}
}

